In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import BatchNormalization

from keras.utils import np_utils

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/requests/__init__.py:80: RequestsDependencyWarning: urllib3 (1.24.1) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [2]:
df = pd.read_csv('data/VTOUTP16.TXT', low_memory=False)
df.head()

,hnum2,ATYPE,asour,intage,TXTZIP,sex,dstat,PPAY,CHRGS,DX1,...,BTYPE,ERFLAG,cah,vtres,OBSFLAG,AFLAG,Uniq,ADMID_QTR,DISCD_QTR,CHRGS_HCIA
0,11,3,4,13,050,2,5,1,3409.85,L600,...,131,0,1,1,0,1,3,1,1,3409.85
1,11,3,4,11,050,2,5,7,1837.65,Z86010,...,131,0,1,1,0,1,54,1,1,1837.65
2,11,3,4,12,037,2,5,1,1102.65,Z1211,...,131,0,1,3,0,1,85,1,1,1102.65
3,11,3,4,10,050,1,5,7,1102.70,Z1211,...,131,0,1,1,0,1,87,1,1,1102.70
4,11,3,4,13,051,2,5,7,1837.65,Z1211,...,131,0,1,1,0,1,93,1,1,1837.65

In [3]:
df.describe()

,hnum2,ATYPE,intage,dstat,PPAY,CHRGS,hsa,pdays,DY,RECNO,BTYPE,ERFLAG,cah,vtres,OBSFLAG,AFLAG,Uniq,ADMID_QTR,DISCD_QTR,CHRGS_HCIA
count,370633.000000,370633.000000,370633.000000,370633.000000,370633.000000,370633.000000,370633.000000,370633.000000,370633.0,3.706330e+05,370633.000000,370633.000000,370633.000000,370633.000000,370633.000000,370633.000000,3.706330e+05,370633.000000,370633.000000,370633.000000
mean,7.080063,1.754121,8.093732,4.942763,3.623676,3087.405855,15.229507,1.400739,2016.0,9.786552e+05,165.769095,0.638057,0.285954,1.374878,0.027170,0.386460,1.006005e+06,2.483929,2.483376,3087.405855
std,4.341688,0.947148,4.159334,0.625275,2.893698,4915.324061,28.115395,6.177145,0.0,5.489186e+05,153.572216,0.480563,0.451868,1.160495,0.162578,0.486939,5.640152e+05,1.110703,1.110408,4915.324061
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2016.0,3.000000e+00,131.000000,0.000000,0.000000,1.000000,0.000000,0.000000,3.000000e+00,1.000000,1.000000,0.000000
25%,5.000000,1.000000,4.000000,5.000000,1.000000,682.480000,2.000000,1.000000,2016.0,4.958420e+05,131.000000,0.000000,0.000000,1.000000,0.000000,0.000000,5.115310e+05,1.000000,1.000000,682.480000
50%,5.000000,1.000000,9.000000,5.000000,2.000000,1521.620000,7.000000,1.000000,2016.0,9.859010e+05,131.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.014498e+06,2.000000,2.000000,1521.620000
75%,9.000000,3.000000,12.000000,5.000000,6.000000,3440.180000,10.000000,1.000000,2016.0,1.450438e+06,131.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.490877e+06,3.000000,3.000000,3440.180000
max,16.000000,5.000000,14.000000,13.000000,12.000000,227311.780000,99.000000,366.000000,2016.0,1.931900e+06,857.000000,1.000000,1.000000,6.000000,1.000000,1.000000,1.985438e+06,4.000000,4.000000,227311.780000

In [4]:
# calculate distribution of pdays
unique, counts = np.unique(df.pdays, return_counts=True)

# show all distribution of y except the first
import matplotlib.pyplot as plt
plt.figure(num=None, figsize=(20, 6), dpi=80, facecolor='w', edgecolor='k')
axes = plt.gca()
axes.set_xlim([0,len(unique)])
axes.set_ylim([0,200])
plt.bar(unique, counts)

In [5]:
# print the extreme values
for i in range (0, len(counts)):
    if(counts[i] >= 200):
        if(unique[i] == 1):
            print(f"{unique[i]} day appears {counts[i]} times")
        else:
            print(f"{unique[i]} days appears {counts[i]} times")

1 day appears 363722 times
2 days appears 2167 times
3 days appears 453 times
28 days appears 632 times
29 days appears 956 times
30 days appears 764 times

In [6]:
# adjust distribution

## create new dataframe with a fixed number of randomly chosen rows where pdays = 1
### source: https://stackoverflow.com/questions/29204005/how-to-perform-under-sampling-in-scikit-learn
day1_indices = df[df.pdays == 1].index # get index of the rows where pdays = 1
random_indices = np.random.choice(day1_indices, 200, replace=False) # 200 indicates how many samples there will be
day1_df = df.loc[random_indices] # dataframe with samples where pday = 1

## create new dataframe with a fixed number of randomly chosen rows where pdays = 2
day2_indices = df[df.pdays == 2].index # get index of the rows where pdays = 2
random_indices = np.random.choice(day2_indices, 100, replace=False) # 200 indicates how many samples there will be
day2_df = df.loc[random_indices] # dataframe with samples where pday = 2

## create new dataframe with a fixed number of randomly chosen rows where pdays = 3
day3_indices = df[df.pdays == 3].index # get index of the rows where pdays = 3
random_indices = np.random.choice(day3_indices, 100, replace=False) # 200 indicates how many samples there will be
day3_df = df.loc[random_indices] # dataframe with samples where pday = 3

## create new dataframe with a fixed number of randomly chosen rows where pdays = 28
day28_indices = df[df.pdays == 28].index # get index of the rows where pdays = 28
random_indices = np.random.choice(day28_indices, 100, replace=False) # 200 indicates how many samples there will be
day28_df = df.loc[random_indices] # dataframe with samples where pday = 28

## create new dataframe with a fixed number of randomly chosen rows where pdays = 29
day29_indices = df[df.pdays == 29].index # get index of the rows where pdays = 29
random_indices = np.random.choice(day29_indices, 100, replace=False) # 200 indicates how many samples there will be
day29_df = df.loc[random_indices] # dataframe with samples where pday = 29

## create new dataframe with a fixed number of randomly chosen rows where pdays = 30
day30_indices = df[df.pdays == 30].index # get index of the rows where pdays = 30
random_indices = np.random.choice(day30_indices, 100, replace=False) # 200 indicates how many samples there will be
day30_df = df.loc[random_indices] # dataframe with samples where pday = 30

## delete all rows where pdays exceeds the limit
df = df[df.pdays != 1]
df = df[df.pdays != 2]
df = df[df.pdays != 3]
df = df[df.pdays != 28]
df = df[df.pdays != 29]
df = df[df.pdays != 30]

## combine dataframe without excessive pdays  with dataframes with fewer rows of excessive pdays
df = df.append(day1_df, ignore_index=True)
df = df.append(day2_df, ignore_index=True)
df = df.append(day3_df, ignore_index=True)
df = df.append(day28_df, ignore_index=True)
df = df.append(day29_df, ignore_index=True)
df = df.append(day30_df, ignore_index=True)
df.tail()

,hnum2,ATYPE,asour,intage,TXTZIP,sex,dstat,PPAY,CHRGS,DX1,...,BTYPE,ERFLAG,cah,vtres,OBSFLAG,AFLAG,Uniq,ADMID_QTR,DISCD_QTR,CHRGS_HCIA
2634,5,3,3,7,05478,2,5,0,10593.74,N186,...,131,0,0,1,0,1,618057,2,2,10593.74
2635,5,3,3,13,05701,1,5,0,15605.73,N186,...,131,0,0,1,0,1,1953001,4,4,15605.73
2636,5,3,3,8,054,1,5,0,15069.10,N186,...,131,0,0,1,0,1,1952798,4,4,15069.10
2637,5,3,3,13,056,2,5,0,12988.55,N186,...,131,0,0,1,0,1,617652,2,2,12988.55
2638,5,3,3,14,054,1,5,0,11380.95,N186,...,131,0,0,1,0,1,20335,1,1,11380.95

In [7]:
# clean up data
## replace spaces with 0
df.replace([' '], [0], inplace=True)

In [8]:
## convert ZIP codes to ints
zipcodes_dict = {}
replacement = 0
for zipcode in np.unique(df["TXTZIP"]):
    zipcodes_dict[zipcode] = replacement
    replacement += 1
print(zipcodes_dict)


df['TXTZIP'] = df['TXTZIP'].map(zipcodes_dict)

{'034+036': 0, '037': 1, '050': 2, '051': 3, '052': 4, '05201': 5, '053': 6, '05301': 7, '054': 8, '05401': 9, '05403': 10, '05446': 11, '05452': 12, '05468': 13, '05478': 14, '056': 15, '05602': 16, '05641': 17, '057': 18, '05701': 19, '05753': 20, '058-059': 21, '120-123': 22, '128': 23, '129': 24, '136': 25, '999': 26, 'OTH-MA': 27, 'OTH-NH': 28, 'OTH-NY': 29, 'OTH-ST': 30}

In [9]:
## replace all ICD-9 codes with ints in the DX columns
icd9codes_dict = {}
replacement = 0
for i in range (1,21):
    current_column = f'DX{i}'
    for icd9code in df[current_column]:
        if icd9code not in icd9codes_dict.keys():
            icd9codes_dict[icd9code] = replacement
            replacement += 1

for i in range (1,21):
    current_column = f'DX{i}'
    df[current_column] = df[current_column].map(icd9codes_dict)
    df[current_column] = pd.to_numeric(df[current_column])

In [10]:
## replace all ICD-9 codes with ints in the PX columns
for i in range (1,21):
    current_column = f'PX{i}'
    for icd9code in df[current_column]:
        if icd9code not in icd9codes_dict.keys():
            icd9codes_dict[icd9code] = replacement
            replacement += 1

for i in range (1,21):
    current_column = f'PX{i}'
    df[current_column] = df[current_column].map(icd9codes_dict)
    df[current_column] = pd.to_numeric(df[current_column])

In [11]:
## replace all ICD-9 codes with ints in the ECODE columns
for i in range (1,4):
    current_column = f'ECODE{i}'
    for icd9code in df[current_column]:
        if icd9code not in icd9codes_dict.keys():
            icd9codes_dict[icd9code] = replacement
            replacement += 1

for i in range (1,4):
    current_column = f'ECODE{i}'
    df[current_column] = df[current_column].map(icd9codes_dict)
    df[current_column] = pd.to_numeric(df[current_column])

In [12]:
# print first row to make sure the replacements took place
print(df.loc[0])

hnum2              11
ATYPE               1
asour               3
intage              9
TXTZIP              2
sex                 1
dstat               4
PPAY                1
CHRGS         13900.4
DX1                 0
DX2               426
DX3                64
DX4              1197
DX5               559
DX6              1094
DX7               834
DX8               320
DX9               662
DX10              662
DX11              662
DX12              662
DX13              662
DX14              662
DX15              662
DX16              662
DX17              662
DX18              662
DX19              662
DX20              662
PX1               662
               ...
PX12              662
PX13              662
PX14              662
PX15              662
PX16              662
PX17              662
PX18              662
PX19              662
PX20              662
ECODE1            662
ECODE2            662
ECODE3            662
hsa                12
pdays               5
ccsdx             657
ccsdxgrp            5
ccsproc           227
ccsprocgrp         16
DY               2016
RECNO            6788
BTYPE             131
ERFLAG              1
cah                 1
vtres               1
OBSFLAG             1
AFLAG               0
Uniq              662
ADMID_QTR           1
DISCD_QTR           1
CHRGS_HCIA    13900.4
Name: 0, Length: 70, dtype: object

In [13]:
# target = number of days a patient stays in the hospital = pdays
y = df.pdays
X = df.drop("pdays", axis=1)

In [14]:
# split into training and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [15]:
print(max(list(y_train)))

366

In [16]:
# One-hot encoding, is this really necessary?
y_train = np_utils.to_categorical(y_train)

In [17]:
print(y_train)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [18]:
print(X_train.shape)

(2111, 69)

In [19]:
# setup model
## parameters
model = Sequential()
dropoutrate = 0.2
batchsize = 4
epochs = 10
inputdim = X_train.shape[1]
adam = keras.optimizers.Adam() # Adam optimizer

model.add(Dense(10, input_dim=inputdim, kernel_initializer='uniform',activation='relu'))
model.add(Dropout(dropoutrate))
model.add(Dense(40, kernel_initializer='uniform',activation='relu'))
model.add(Dropout(dropoutrate))
model.add(Dense(40, kernel_initializer='uniform',activation='relu'))
model.add(Dropout(dropoutrate))
model.add(Dense(367, activation='softmax'))

In [20]:
model.compile(loss=keras.losses.categorical_crossentropy,optimizer=adam, metrics=['accuracy'])

In [21]:
history = model.fit(X_train, y_train, epochs=epochs,validation_split=0.3, batch_size=batchsize,verbose=1)

Train on 1477 samples, validate on 634 samples
Epoch 1/10
1477/1477 [==============================] - 2s 1ms/step - loss: 6.4715 - acc: 0.0427 - val_loss: 4.4352 - val_acc: 0.0331
Epoch 2/10
1477/1477 [==============================] - 1s 937us/step - loss: 4.0804 - acc: 0.0650 - val_loss: 4.1165 - val_acc: 0.0757
Epoch 3/10
1477/1477 [==============================] - 2s 1ms/step - loss: 3.9881 - acc: 0.0779 - val_loss: 4.1418 - val_acc: 0.0757
Epoch 4/10
1477/1477 [==============================] - 2s 1ms/step - loss: 3.9443 - acc: 0.0914 - val_loss: 4.1692 - val_acc: 0.0836
Epoch 5/10
1477/1477 [==============================] - 1s 925us/step - loss: 3.9265 - acc: 0.0752 - val_loss: 4.2025 - val_acc: 0.0757
Epoch 6/10
1477/1477 [==============================] - 1s 942us/step - loss: 3.9230 - acc: 0.0677 - val_loss: 4.2030 - val_acc: 0.0757
Epoch 7/10
1477/1477 [==============================] - 1s 902us/step - loss: 3.9021 - acc: 0.0833 - val_loss: 4.2226 - val_acc: 0.0757
Epoch 8/10
1477/1477 [==============================] - 1s 918us/step - loss: 3.9024 - acc: 0.0785 - val_loss: 4.2605 - val_acc: 0.0757
Epoch 9/10
1477/1477 [==============================] - 1s 989us/step - loss: 3.8935 - acc: 0.0711 - val_loss: 4.2646 - val_acc: 0.0757
Epoch 10/10
1477/1477 [==============================] - 1s 746us/step - loss: 3.8793 - acc: 0.0785 - val_loss: 4.3024 - val_acc: 0.0757

In [22]:
# predict the number of days a person has to stay in the hospital
predictions = model.predict(X_test)

In [23]:
# compare prediction with real
n = 1
print("Predicted: {0} \tcertainty: {1}".format(predictions[n].argmax(axis=0), predictions[n][predictions[n].argmax(axis=0)]))
print("Real: {0}".format(list(y_test)[n]))

Predicted: 1 	certainty: 0.07900378853082657
Real: 17

In [24]:
# make list of all predictions
y_predicted = []
for i in range(0, len(predictions)):
    y_predicted.append(predictions[i].argmax(axis=0))

In [25]:
print(y_predicted)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [26]:
from sklearn.metrics import mean_absolute_error

MAE = mean_absolute_error(y_test,y_predicted)
print('MAE = ',MAE)

MAE =  33.93560606060606

Now the MAE is bigger than with the full dataset. This is also logical since the model has a very low accuracy and thus predicts wrong values. We'll need yet another model.