In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import BatchNormalization

from keras.utils import np_utils

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/requests/__init__.py:80: RequestsDependencyWarning: urllib3 (1.24.1) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [2]:
df = pd.read_csv('data/VTOUTP16.TXT', low_memory=False)
df.head()

,hnum2,ATYPE,asour,intage,TXTZIP,sex,dstat,PPAY,CHRGS,DX1,...,BTYPE,ERFLAG,cah,vtres,OBSFLAG,AFLAG,Uniq,ADMID_QTR,DISCD_QTR,CHRGS_HCIA
0,11,3,4,13,050,2,5,1,3409.85,L600,...,131,0,1,1,0,1,3,1,1,3409.85
1,11,3,4,11,050,2,5,7,1837.65,Z86010,...,131,0,1,1,0,1,54,1,1,1837.65
2,11,3,4,12,037,2,5,1,1102.65,Z1211,...,131,0,1,3,0,1,85,1,1,1102.65
3,11,3,4,10,050,1,5,7,1102.70,Z1211,...,131,0,1,1,0,1,87,1,1,1102.70
4,11,3,4,13,051,2,5,7,1837.65,Z1211,...,131,0,1,1,0,1,93,1,1,1837.65

In [3]:
df.describe()

,hnum2,ATYPE,intage,dstat,PPAY,CHRGS,hsa,pdays,DY,RECNO,BTYPE,ERFLAG,cah,vtres,OBSFLAG,AFLAG,Uniq,ADMID_QTR,DISCD_QTR,CHRGS_HCIA
count,370633.000000,370633.000000,370633.000000,370633.000000,370633.000000,370633.000000,370633.000000,370633.000000,370633.0,3.706330e+05,370633.000000,370633.000000,370633.000000,370633.000000,370633.000000,370633.000000,3.706330e+05,370633.000000,370633.000000,370633.000000
mean,7.080063,1.754121,8.093732,4.942763,3.623676,3087.405855,15.229507,1.400739,2016.0,9.786552e+05,165.769095,0.638057,0.285954,1.374878,0.027170,0.386460,1.006005e+06,2.483929,2.483376,3087.405855
std,4.341688,0.947148,4.159334,0.625275,2.893698,4915.324061,28.115395,6.177145,0.0,5.489186e+05,153.572216,0.480563,0.451868,1.160495,0.162578,0.486939,5.640152e+05,1.110703,1.110408,4915.324061
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2016.0,3.000000e+00,131.000000,0.000000,0.000000,1.000000,0.000000,0.000000,3.000000e+00,1.000000,1.000000,0.000000
25%,5.000000,1.000000,4.000000,5.000000,1.000000,682.480000,2.000000,1.000000,2016.0,4.958420e+05,131.000000,0.000000,0.000000,1.000000,0.000000,0.000000,5.115310e+05,1.000000,1.000000,682.480000
50%,5.000000,1.000000,9.000000,5.000000,2.000000,1521.620000,7.000000,1.000000,2016.0,9.859010e+05,131.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.014498e+06,2.000000,2.000000,1521.620000
75%,9.000000,3.000000,12.000000,5.000000,6.000000,3440.180000,10.000000,1.000000,2016.0,1.450438e+06,131.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.490877e+06,3.000000,3.000000,3440.180000
max,16.000000,5.000000,14.000000,13.000000,12.000000,227311.780000,99.000000,366.000000,2016.0,1.931900e+06,857.000000,1.000000,1.000000,6.000000,1.000000,1.000000,1.985438e+06,4.000000,4.000000,227311.780000

In [4]:
# calculate distribution of pdays
unique, counts = np.unique(df.pdays, return_counts=True)

In [5]:
# print the extreme values
for i in range (0, len(counts)):
    if(counts[i] >= 200):
        if(unique[i] == 1):
            print(f"{unique[i]} day appears {counts[i]} times")
        else:
            print(f"{unique[i]} days appears {counts[i]} times")

1 day appears 363722 times
2 days appears 2167 times
3 days appears 453 times
28 days appears 632 times
29 days appears 956 times
30 days appears 764 times

In [6]:
# adjust distribution

## create new dataframe with a fixed number of randomly chosen rows where pdays = 1
### source: https://stackoverflow.com/questions/29204005/how-to-perform-under-sampling-in-scikit-learn
day1_indices = df[df.pdays == 1].index # get index of the rows where pdays = 1
random_indices = np.random.choice(day1_indices, 200, replace=False) # 200 indicates how many samples there will be
day1_df = df.loc[random_indices] # dataframe with samples where pday = 1

## create new dataframe with a fixed number of randomly chosen rows where pdays = 2
day2_indices = df[df.pdays == 2].index # get index of the rows where pdays = 2
random_indices = np.random.choice(day2_indices, 100, replace=False) # 200 indicates how many samples there will be
day2_df = df.loc[random_indices] # dataframe with samples where pday = 2

## create new dataframe with a fixed number of randomly chosen rows where pdays = 3
day3_indices = df[df.pdays == 3].index # get index of the rows where pdays = 3
random_indices = np.random.choice(day3_indices, 100, replace=False) # 200 indicates how many samples there will be
day3_df = df.loc[random_indices] # dataframe with samples where pday = 3

## create new dataframe with a fixed number of randomly chosen rows where pdays = 28
day28_indices = df[df.pdays == 28].index # get index of the rows where pdays = 28
random_indices = np.random.choice(day28_indices, 100, replace=False) # 200 indicates how many samples there will be
day28_df = df.loc[random_indices] # dataframe with samples where pday = 28

## create new dataframe with a fixed number of randomly chosen rows where pdays = 29
day29_indices = df[df.pdays == 29].index # get index of the rows where pdays = 29
random_indices = np.random.choice(day29_indices, 100, replace=False) # 200 indicates how many samples there will be
day29_df = df.loc[random_indices] # dataframe with samples where pday = 29

## create new dataframe with a fixed number of randomly chosen rows where pdays = 30
day30_indices = df[df.pdays == 30].index # get index of the rows where pdays = 30
random_indices = np.random.choice(day30_indices, 100, replace=False) # 200 indicates how many samples there will be
day30_df = df.loc[random_indices] # dataframe with samples where pday = 30

## delete all rows where pdays exceeds the limit
df = df[df.pdays != 1]
df = df[df.pdays != 2]
df = df[df.pdays != 3]
df = df[df.pdays != 28]
df = df[df.pdays != 29]
df = df[df.pdays != 30]

## combine dataframe without excessive pdays  with dataframes with fewer rows of excessive pdays
df = df.append(day1_df, ignore_index=True)
df = df.append(day2_df, ignore_index=True)
df = df.append(day3_df, ignore_index=True)
df = df.append(day28_df, ignore_index=True)
df = df.append(day29_df, ignore_index=True)
df = df.append(day30_df, ignore_index=True)
df.tail()

,hnum2,ATYPE,asour,intage,TXTZIP,sex,dstat,PPAY,CHRGS,DX1,...,BTYPE,ERFLAG,cah,vtres,OBSFLAG,AFLAG,Uniq,ADMID_QTR,DISCD_QTR,CHRGS_HCIA
2634,5,3,3,14,054,1,5,0,9222.76,N186,...,131,0,0,1,0,1,187861,1,1,9222.76
2635,5,3,3,7,05478,2,5,0,10646.38,N186,...,131,0,0,1,0,1,1120060,3,3,10646.38
2636,5,3,3,14,05403,1,5,0,8814.94,N186,...,131,0,0,1,0,1,1120016,3,3,8814.94
2637,5,3,3,11,057,2,5,0,9731.57,N186,...,131,0,0,1,0,1,20320,1,1,9731.57
2638,5,3,3,14,057,1,5,0,8386.79,N186,...,131,0,0,1,0,1,1843267,4,4,8386.79

In [7]:
# clean up data
## replace spaces with 0
df.replace([' '], [0], inplace=True)

In [8]:
## convert ZIP codes to ints
zipcodes_dict = {}
replacement = 0
for zipcode in np.unique(df["TXTZIP"]):
    zipcodes_dict[zipcode] = replacement
    replacement += 1
print(zipcodes_dict)


df['TXTZIP'] = df['TXTZIP'].map(zipcodes_dict)

{'034+036': 0, '037': 1, '050': 2, '051': 3, '052': 4, '05201': 5, '053': 6, '05301': 7, '054': 8, '05401': 9, '05403': 10, '05446': 11, '05452': 12, '05468': 13, '05478': 14, '056': 15, '05602': 16, '05641': 17, '057': 18, '05701': 19, '05753': 20, '058-059': 21, '120-123': 22, '128': 23, '129': 24, '136': 25, '999': 26, 'OTH-MA': 27, 'OTH-NH': 28, 'OTH-NY': 29, 'OTH-ST': 30}

In [9]:
## replace all ICD-9 codes with ints in the DX columns
icd9codes_dict = {}
replacement = 0
for i in range (1,21):
    current_column = f'DX{i}'
    for icd9code in df[current_column]:
        if icd9code not in icd9codes_dict.keys():
            icd9codes_dict[icd9code] = replacement
            replacement += 1

for i in range (1,21):
    current_column = f'DX{i}'
    df[current_column] = df[current_column].map(icd9codes_dict)
    df[current_column] = pd.to_numeric(df[current_column])

In [10]:
## replace all ICD-9 codes with ints in the PX columns
for i in range (1,21):
    current_column = f'PX{i}'
    for icd9code in df[current_column]:
        if icd9code not in icd9codes_dict.keys():
            icd9codes_dict[icd9code] = replacement
            replacement += 1

for i in range (1,21):
    current_column = f'PX{i}'
    df[current_column] = df[current_column].map(icd9codes_dict)
    df[current_column] = pd.to_numeric(df[current_column])

In [11]:
## replace all ICD-9 codes with ints in the ECODE columns
for i in range (1,4):
    current_column = f'ECODE{i}'
    for icd9code in df[current_column]:
        if icd9code not in icd9codes_dict.keys():
            icd9codes_dict[icd9code] = replacement
            replacement += 1

for i in range (1,4):
    current_column = f'ECODE{i}'
    df[current_column] = df[current_column].map(icd9codes_dict)
    df[current_column] = pd.to_numeric(df[current_column])

In [12]:
# print first row to make sure the replacements took place
print(df.loc[0])

hnum2              11
ATYPE               1
asour               3
intage              9
TXTZIP              2
sex                 1
dstat               4
PPAY                1
CHRGS         13900.4
DX1                 0
DX2               426
DX3                64
DX4              1190
DX5              1298
DX6              1089
DX7               837
DX8               320
DX9               661
DX10              661
DX11              661
DX12              661
DX13              661
DX14              661
DX15              661
DX16              661
DX17              661
DX18              661
DX19              661
DX20              661
PX1               661
               ...
PX12              661
PX13              661
PX14              661
PX15              661
PX16              661
PX17              661
PX18              661
PX19              661
PX20              661
ECODE1            661
ECODE2            661
ECODE3            661
hsa                12
pdays               5
ccsdx             657
ccsdxgrp            5
ccsproc           227
ccsprocgrp         16
DY               2016
RECNO            6788
BTYPE             131
ERFLAG              1
cah                 1
vtres               1
OBSFLAG             1
AFLAG               0
Uniq              662
ADMID_QTR           1
DISCD_QTR           1
CHRGS_HCIA    13900.4
Name: 0, Length: 70, dtype: object

In [13]:
# target = number of days a patient stays in the hospital = pdays
y = df.pdays
X = df.drop("pdays", axis=1)

In [14]:
# split into training and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [15]:
print(max(list(y_train)))

366

In [16]:
print(y_train)

2348     28
2402     28
2307      3
2284      3
680       5
1785     11
2253      3
1065     14
2298      3
2501     29
352      89
1077     26
861     182
2413     28
1812      4
1882      6
667      14
556      23
28       10
2440     29
1409    296
1279      6
1387    278
2118      1
777      24
279      88
72       22
536       4
1275      4
1191     15
       ...
99       27
1897     24
1159      4
1981      1
2552     30
1583     15
2638     30
39       23
2388     28
2050      1
451       4
1847     19
1092      4
2468     29
1363     31
111       7
2272      3
942      90
1568      4
73       11
47       18
2161      2
96       27
1761      9
1593      5
1147      5
2154      2
1766     20
1122     27
1346     91
Name: pdays, Length: 2111, dtype: int64

In [17]:
print(X_train.shape)

(2111, 69)

In [34]:
# setup model
## parameters
batchsize = 4
epochs = 10
inputdim = X_train.shape[1]

model = Sequential()
model.add(Dense(10, input_dim=inputdim, kernel_initializer='uniform', activation='relu'))
model.add(Dense(40, kernel_initializer='uniform', activation='relu'))
model.add(Dense(40, kernel_initializer='uniform', activation='relu'))
model.add(Dense(1, activation='linear'))

In [35]:
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])

In [36]:
history = model.fit(X_train, y_train, epochs=epochs,validation_split=0.3, batch_size=batchsize,verbose=1)

Train on 1477 samples, validate on 634 samples
Epoch 1/10
1477/1477 [==============================] - 1s 768us/step - loss: 5785.2327 - acc: 0.0122 - val_loss: 4008.9168 - val_acc: 0.0032
Epoch 2/10
1477/1477 [==============================] - 1s 447us/step - loss: 3947.3622 - acc: 0.0210 - val_loss: 4369.6747 - val_acc: 0.0221
Epoch 3/10
1477/1477 [==============================] - 1s 440us/step - loss: 3967.7243 - acc: 0.0183 - val_loss: 4585.7252 - val_acc: 0.0174
Epoch 4/10
1477/1477 [==============================] - 1s 450us/step - loss: 3800.3253 - acc: 0.0156 - val_loss: 4372.4167 - val_acc: 0.0221
Epoch 5/10
1477/1477 [==============================] - 1s 449us/step - loss: 3820.8798 - acc: 0.0223 - val_loss: 3895.1175 - val_acc: 0.0221
Epoch 6/10
1477/1477 [==============================] - 1s 459us/step - loss: 3837.2804 - acc: 0.0210 - val_loss: 3925.6975 - val_acc: 0.0284
Epoch 7/10
1477/1477 [==============================] - 1s 452us/step - loss: 3869.5354 - acc: 0.0156 - val_loss: 3884.0607 - val_acc: 0.0189
Epoch 8/10
1477/1477 [==============================] - 1s 431us/step - loss: 3705.9784 - acc: 0.0162 - val_loss: 3881.4294 - val_acc: 0.0205
Epoch 9/10
1477/1477 [==============================] - 1s 453us/step - loss: 3704.1910 - acc: 0.0156 - val_loss: 3912.9500 - val_acc: 0.0032
Epoch 10/10
1477/1477 [==============================] - 1s 452us/step - loss: 3743.8349 - acc: 0.0142 - val_loss: 4016.4851 - val_acc: 0.0221

In [38]:
# predict the number of days a person has to stay in the hospital
predictions = model.predict(X_test)

In [40]:
# compare prediction with real
n = 1
print("Predicted: {0}".format(predictions[n]))
print("Real: {0}".format(list(y_test)[n]))

Predicted: [15.524951]
Real: 17

In [41]:
print(predictions)

[[17.48694  ]
 [15.524951 ]
 [16.329239 ]
 [21.648745 ]
 [17.97101  ]
 [13.808824 ]
 [25.67291  ]
 [15.303182 ]
 [20.308182 ]
 [25.037672 ]
 [28.708761 ]
 [18.12966  ]
 [27.530994 ]
 [17.232538 ]
 [27.304281 ]
 [24.810717 ]
 [17.151278 ]
 [24.900984 ]
 [22.926739 ]
 [30.638277 ]
 [22.403233 ]
 [21.63626  ]
 [13.803544 ]
 [21.38573  ]
 [24.700155 ]
 [22.057703 ]
 [30.069937 ]
 [21.077772 ]
 [22.517303 ]
 [14.815698 ]
 [27.056498 ]
 [27.131372 ]
 [17.023537 ]
 [27.45918  ]
 [21.007654 ]
 [20.311653 ]
 [16.31068  ]
 [28.77099  ]
 [18.60405  ]
 [21.292538 ]
 [27.49531  ]
 [18.511488 ]
 [24.355429 ]
 [16.11165  ]
 [19.913618 ]
 [25.02744  ]
 [18.323378 ]
 [21.728168 ]
 [21.624699 ]
 [22.027025 ]
 [23.668497 ]
 [27.906569 ]
 [27.17422  ]
 [17.04455  ]
 [15.967345 ]
 [19.770796 ]
 [14.425761 ]
 [26.032537 ]
 [17.649328 ]
 [19.751488 ]
 [22.587027 ]
 [18.628557 ]
 [22.883543 ]
 [17.412651 ]
 [14.746119 ]
 [25.414053 ]
 [21.11975  ]
 [19.177683 ]
 [20.866716 ]
 [14.725185 ]
 [20.583597 ]
 [17.575678 ]
 [13.902611 ]
 [19.999434 ]
 [26.324898 ]
 [21.123867 ]
 [20.937773 ]
 [17.940037 ]
 [22.5634   ]
 [17.539713 ]
 [22.481068 ]
 [14.535145 ]
 [18.306303 ]
 [21.418524 ]
 [21.574038 ]
 [18.016256 ]
 [13.721318 ]
 [26.218864 ]
 [27.814062 ]
 [26.666334 ]
 [24.386564 ]
 [15.341081 ]
 [16.601467 ]
 [18.531387 ]
 [18.602858 ]
 [25.812878 ]
 [28.57298  ]
 [18.637152 ]
 [23.774677 ]
 [22.3339   ]
 [15.40104  ]
 [16.992968 ]
 [18.141773 ]
 [17.10835  ]
 [30.559586 ]
 [27.205427 ]
 [16.66308  ]
 [18.385473 ]
 [16.439068 ]
 [14.191527 ]
 [14.583223 ]
 [18.165007 ]
 [34.020565 ]
 [21.594364 ]
 [15.736644 ]
 [24.763914 ]
 [18.383661 ]
 [22.623175 ]
 [20.71322  ]
 [22.8674   ]
 [20.146923 ]
 [27.4549   ]
 [20.38714  ]
 [14.410937 ]
 [17.238062 ]
 [21.275906 ]
 [24.626673 ]
 [18.750452 ]
 [24.09701  ]
 [15.1613455]
 [17.757265 ]
 [16.717978 ]
 [20.262972 ]
 [19.016508 ]
 [26.4768   ]
 [21.524622 ]
 [27.876528 ]
 [16.92719  ]
 [27.719091 ]
 [20.221045 ]
 [24.95573  ]
 [22.86017  ]
 [26.70371  ]
 [24.391146 ]
 [21.431534 ]
 [16.77619  ]
 [25.145233 ]
 [24.929628 ]
 [25.688906 ]
 [21.814615 ]
 [22.264605 ]
 [19.809584 ]
 [26.546347 ]
 [16.59754  ]
 [20.654673 ]
 [13.888314 ]
 [23.22448  ]
 [21.812933 ]
 [22.153437 ]
 [17.957134 ]
 [15.917689 ]
 [22.09661  ]
 [24.581875 ]
 [24.432938 ]
 [17.408865 ]
 [14.40392  ]
 [21.467072 ]
 [21.996027 ]
 [17.651154 ]
 [16.61255  ]
 [14.64561  ]
 [15.9960165]
 [20.04932  ]
 [25.33107  ]
 [16.877851 ]
 [20.322586 ]
 [18.924292 ]
 [22.329065 ]
 [26.03185  ]
 [23.341738 ]
 [24.707403 ]
 [24.208296 ]
 [19.32102  ]
 [16.103365 ]
 [20.738396 ]
 [27.868208 ]
 [21.62144  ]
 [21.344198 ]
 [25.26193  ]
 [24.915953 ]
 [13.5439825]
 [26.698658 ]
 [28.136326 ]
 [20.78374  ]
 [23.49949  ]
 [22.11595  ]
 [21.889751 ]
 [31.647741 ]
 [18.356909 ]
 [22.15145  ]
 [21.637882 ]
 [18.418123 ]
 [21.243944 ]
 [21.985968 ]
 [15.347638 ]
 [20.191359 ]
 [24.87686  ]
 [19.410036 ]
 [17.033445 ]
 [22.017204 ]
 [26.625086 ]
 [22.37457  ]
 [18.885206 ]
 [14.768941 ]
 [15.700396 ]
 [21.94464  ]
 [21.64052  ]
 [22.214916 ]
 [22.538538 ]
 [16.244015 ]
 [17.173319 ]
 [21.65649  ]
 [14.806006 ]
 [17.380995 ]
 [16.309599 ]
 [20.175253 ]
 [18.037348 ]
 [27.924192 ]
 [24.357769 ]
 [30.611233 ]
 [21.531088 ]
 [27.358355 ]
 [14.731306 ]
 [22.205528 ]
 [27.709028 ]
 [22.796476 ]
 [22.578299 ]
 [16.099602 ]
 [17.6337   ]
 [21.88391  ]
 [19.429873 ]
 [15.181124 ]
 [18.400898 ]
 [26.094793 ]
 [14.8104925]
 [18.147032 ]
 [17.024471 ]
 [21.45366  ]
 [27.234875 ]
 [18.849562 ]
 [24.84257  ]
 [15.171773 ]
 [17.791739 ]
 [16.808405 ]
 [24.438732 ]
 [23.397703 ]
 [23.014954 ]
 [17.4815   ]
 [22.47785  ]
 [15.992948 ]
 [17.539454 ]
 [25.997953 ]
 [25.033194 ]
 [27.30266  ]
 [14.774011 ]
 [16.431744 ]
 [14.918564 ]
 [22.24875  ]
 [16.224571 ]
 [17.28292  ]
 [26.597486 ]
 [19.021658 ]
 [18.051126 ]
 [25.923704 ]
 [16.546644 ]
 [22.061632 ]
 [27.86466  ]
 [24.984598 ]
 [19.800116 ]
 [22.861925 ]
 [15.734447 ]
 [14.66805  ]
 [19.671307 ]
 [21.500463 ]
 [27.285692 ]
 [27.790625 ]
 [14.464585 ]
 [23.199839 ]
 [17.21865  ]
 [19.323912 ]
 [17.112152 ]
 [26.36091  ]
 [21.929373 ]
 [27.490965 ]
 [24.915201 ]
 [17.571777 ]
 [16.99807  ]
 [15.110429 ]
 [16.800234 ]
 [22.748665 ]
 [18.168474 ]
 [17.288458 ]
 [26.763247 ]
 [27.71623  ]
 [14.361674 ]
 [20.119642 ]
 [20.976807 ]
 [15.325688 ]
 [16.99333  ]
 [15.483214 ]
 [18.227322 ]
 [20.817549 ]
 [21.42893  ]
 [17.89749  ]
 [26.900883 ]
 [30.539488 ]
 [18.344086 ]
 [23.8638   ]
 [30.00194  ]
 [14.642558 ]
 [27.704725 ]
 [30.641512 ]
 [24.922455 ]
 [24.933355 ]
 [17.43812  ]
 [20.920977 ]
 [23.394445 ]
 [16.668722 ]
 [26.409079 ]
 [23.79553  ]
 [28.012737 ]
 [23.706388 ]
 [16.830896 ]
 [15.716291 ]
 [15.728684 ]
 [27.521595 ]
 [24.381575 ]
 [14.853391 ]
 [16.81605  ]
 [21.94102  ]
 [20.439623 ]
 [16.716953 ]
 [21.566164 ]
 [23.917356 ]
 [21.6927   ]
 [13.667868 ]
 [23.381002 ]
 [20.800037 ]
 [16.82875  ]
 [24.56501  ]
 [22.089838 ]
 [22.26281  ]
 [34.03698  ]
 [19.898859 ]
 [16.178036 ]
 [28.427717 ]
 [24.309767 ]
 [18.402515 ]
 [27.461325 ]
 [18.365799 ]
 [14.727529 ]
 [17.549522 ]
 [22.327393 ]
 [17.641674 ]
 [22.491152 ]
 [18.127153 ]
 [25.531696 ]
 [20.187214 ]
 [17.75525  ]
 [22.194788 ]
 [28.714632 ]
 [15.55358  ]
 [18.376417 ]
 [27.111477 ]
 [21.659388 ]
 [13.223669 ]
 [16.806746 ]
 [21.488703 ]
 [20.800837 ]
 [14.187097 ]
 [26.618036 ]
 [18.757658 ]
 [21.238043 ]
 [27.473364 ]
 [17.548573 ]
 [22.15999  ]
 [25.711462 ]
 [25.649252 ]
 [23.400473 ]
 [14.024917 ]
 [24.074625 ]
 [24.231478 ]
 [20.920416 ]
 [14.469131 ]
 [23.420933 ]
 [15.103194 ]
 [28.184465 ]
 [18.481163 ]
 [23.344177 ]
 [24.588806 ]
 [18.381393 ]
 [14.941228 ]
 [27.455938 ]
 [27.536982 ]
 [15.075889 ]
 [14.540175 ]
 [19.393951 ]
 [19.724333 ]
 [27.690565 ]
 [20.606571 ]
 [22.601732 ]
 [19.433378 ]
 [19.73486  ]
 [21.041935 ]
 [28.418863 ]
 [21.637291 ]
 [20.65956  ]
 [21.813025 ]
 [14.907833 ]
 [25.239777 ]
 [18.649187 ]
 [24.217318 ]
 [14.720384 ]
 [22.490496 ]
 [26.328112 ]
 [17.803984 ]
 [21.50231  ]
 [14.701335 ]
 [17.921207 ]
 [25.673193 ]
 [20.624067 ]
 [28.27459  ]
 [20.475466 ]
 [17.978922 ]
 [21.388006 ]
 [27.677599 ]
 [20.288218 ]
 [19.601437 ]
 [24.790468 ]
 [18.885502 ]
 [25.051407 ]
 [17.593008 ]
 [24.565    ]
 [19.385479 ]
 [15.524675 ]
 [21.31056  ]
 [24.99168  ]
 [25.638014 ]
 [26.628702 ]
 [24.047697 ]
 [25.484251 ]
 [34.829967 ]
 [21.126482 ]
 [15.270425 ]
 [16.41542  ]
 [14.3051405]
 [22.594873 ]
 [20.438128 ]
 [18.543987 ]
 [24.561144 ]
 [15.394977 ]
 [28.04476  ]
 [22.431181 ]
 [14.223664 ]
 [19.665056 ]
 [15.734865 ]
 [19.918127 ]
 [19.073565 ]
 [42.19256  ]
 [21.62467  ]
 [14.468685 ]
 [25.361643 ]
 [17.636992 ]
 [14.923785 ]
 [18.73178  ]
 [21.93555  ]
 [19.209593 ]
 [20.947935 ]
 [17.347868 ]
 [20.25506  ]
 [20.851706 ]
 [15.976306 ]
 [28.012554 ]
 [26.536886 ]
 [18.630352 ]
 [21.888945 ]
 [21.993488 ]
 [17.640574 ]
 [15.035286 ]
 [26.793646 ]
 [26.928999 ]
 [27.430288 ]
 [18.655115 ]
 [28.43197  ]
 [22.049137 ]
 [15.7743635]
 [28.03706  ]
 [28.0409   ]
 [19.40512  ]
 [18.695036 ]
 [15.227984 ]
 [28.07023  ]
 [24.856115 ]
 [27.463182 ]
 [15.812879 ]
 [23.441664 ]
 [18.58414  ]
 [24.130257 ]
 [17.832102 ]
 [24.4059   ]
 [15.593736 ]
 [16.57812  ]
 [20.825842 ]
 [21.10833  ]
 [24.33286  ]
 [22.8235   ]
 [26.991829 ]
 [22.56714  ]
 [27.482613 ]
 [26.688892 ]
 [14.693162 ]
 [21.180079 ]
 [20.620054 ]
 [20.012823 ]
 [16.968569 ]
 [21.35611  ]
 [31.441095 ]
 [23.137356 ]]

In [42]:
from sklearn.metrics import mean_absolute_error

MAE = mean_absolute_error(y_test,predictions)
print('MAE = ',MAE)

MAE =  28.090919812520344

With another activation function (actually no activation function at all), the error is a bit smaller than with a softmax activation function but still too big to be usable. Maybe adjusting the weights might help.